.school{
	background: rgba(0,0,0,.3); 				/* убрать! */
	margin: 0 auto;
	z-index: 2;
	width: @screen-xs;
	
	@media (min-width: @screen-sm) {
		width: @screen-sm;
	}	
	@media (min-width: @screen-md) {
		width: @screen-md;
	}		
	@media (min-width: @screen-lg) {
		width: @screen-lg;
	}
}

.block{
	height: @height;
	padding: 27px 30px 0;
	&--high{
		height: @height*2;		
	}	
}

.info{
	background-color: @yellow;
	padding-top: 35px;
	position: relative;

	&__title{
		font-family: @literra-plain-bold;
		font-size: @font-subtitle;
		text-transform: uppercase;
		margin-top: 0;

		@media (min-width: @screen-sm) {
			font-size: @font-title;
		}


		&:after{
			content: '';
			display: block;
			background-color: @text;
			margin-top: 10px;
			width: 40px;
			height: 5px;
		}
	}
	&__text{
		font-family: @montserrat-regular;
		font-size: @font-p;
	}
	&__btn-group{
		position: absolute;
		bottom: 30px;
	}	
}
.transparent{
	background-color: transparent;


}
.tabs{
	background-color: #fff;	
	font-family: @montserrat-regular;
	text-align: center;
	position: relative;
	
	a{
		color: @text;
	}
	&__counter{
	position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    top: 50%;
	transform: translateY(-50%);
    margin: auto;		
	}
	&__counter-main{
		font-size: @font-largest;			
	}
	span{
		vertical-align: super;
	}
	&__counter-average{
		font-size: @font-subtitle;
		vertical-align: super;
	}	
	&__arrow-left{
		position: absolute;		
		top: 50px;
		background-image: url(../../img/arrow-left.png);
		border: none;
		outline: none;		
		color: transparent;
		background-color: transparent;
		width: 22px;
		height: 28px;
	}
	&__arrow-right{
		position: absolute;		
		bottom: 50px;
		background-image: url(../../img/arrow-right.png);		
		border: none;
		outline: none;		
		color: transparent;
		background-color: transparent;
		width: 22px;
		height: 28px;		
	}	
}
.video{
	background-color: @blue;
	text-align: center;	

	&__btn{
		display: inline-block;
		background-image: url(../../img/icon-video.png);
		border: none;
		outline: none;		
		color: transparent;
		background-color: transparent;
		width: 71px;
		height: 71px;	
		position: relative;
		margin-top: 50%;
		transform: translateY(-50%);
	}
	p{
		text-transform: uppercase;
		font-family: @literra-plain-book;
		font-size: @font-small;		
		color: #fff;
		margin-top: -20px;
	}
}



.common{
	background-color: #fff;	
	position: relative;

	&__title{
		font-family: @literra-plain-bold;
		font-size: @font-title;
		text-transform: uppercase;
		margin-top: 0;

		&:after{
			content: '';
			display: block;
			background-color: @text;
			margin-top: 15px;
			width: 40px;
			height: 5px;
		}
	}
	&__text{
		font-family: @montserrat-regular;
		font-size: @font-p;
		color: @gray;		
	}

	&__btn-group{
		position: absolute;
		bottom: 30px;
	}

	&--background{
		background-image: url(../../img/bg09.jpg);
	}	
}
.specials{
	background-color: #fff;	

	&__title{
		font-family: @literra-plain-bold;
		font-size: @font-subtitle;
		margin-top: 0;

		&:after{
			content: '';
			display: block;
			background-color: @text;
			margin-top: 15px;
			width: 40px;
			height: 5px;
		}
	}
	&__text{
		font-family: @montserrat-regular;
		font-size: @font-p;
		color: @gray;
	}
}
.download{
	background-color: @yellow;
	text-align: center;	

	&__btn{
		display: inline-block;
		background-image: url(../../img/icon-download.png);
		border: none;
		outline: none;		
		color: transparent;
		background-color: transparent;
		width: 56px;
		height: 73px;	
		position: relative;
		margin-top: 50%;
		transform: translateY(-50%);
	}
	p{
		text-transform: uppercase;
		font-family: @literra-plain-book;
		font-size: @font-small;		
		margin-top: -20px;
	}	
}

.places{
	background-color: @blue;
	text-align: center;	

	&__pic{
		display: inline-block;
		background-image: url(../../img/icon-place.png);
		border: none;
		outline: none;		
		color: transparent;
		background-color: transparent;
		width: 54px;
		height: 71px;	
		position: relative;
		margin-top: 50%;
		transform: translateY(-50%);
	}
	p{
		text-transform: uppercase;
		font-family: @literra-plain-book;
		font-size: @font-small;	
		color: #fff;	
		margin: -20px 50px 0;
	}		
}
.map{
	padding: 0;
	iframe{
		width: 293px;

		@media (min-width: @screen-sm) {
			width: 586px;
		}
	}
}
.teacher{
	background-color: #fff;
	text-align: center;	

	&__title{
		font-family: @literra-plain-bold;
		font-size: @font-subtitle;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	&__text{
		font-family: @literra-plain-book;
		font-size: @font-p;
		color: @gray;
		&--color{
			color: #777463;
		}
	}

	&--yellow{
		background-color: @light-yellow;		
	}	
}
.features{
	background-color: #fff;
	color: @gray;
	padding-top: 30px;

	&__numbers{
		font-family: @montserrat-regular;
		font-size: @font-largest;
		margin-top: 30px;
		margin-bottom: 0;		
	}
	&__subject{
		font-family: @literra-plain-book;
		font-size: @font-p;
		margin-top: 0;
	}
}

.news{
	background-color: @blue;
	color: #fff;
	position: relative;

	&__title{
		font-family: @literra-plain-bold;
		font-size: @font-title;
		text-transform: uppercase;
		margin-top: -5px;
	}
	&__wrapper{
		margin-top: 20px;
		font-family: @montserrat-regular;		
		font-size: @font-p;
	}
	&__date{
		margin-bottom: 0;
	}
	&__topic{
		margin-top: 5px;
		font-size: @font-subtitle;
	}
	&__comments{
		margin-top: 20px
	}
	&__tab-list{
		position: absolute;
		bottom: 20px;
	}
	&__tab-item{
		display: inline-block;
		background-color: #fff;
		width: 25px;
		height: 5px;
		margin-right: 10px;
		opacity: 0.2;
	}
	&__tab-item--active{
		opacity: 1;
	}	
}
.schedule{
	background-color: #fff;
	padding: 25px 30px 0;
	position: relative;

	&__title{
		font-family: @literra-plain-bold;
		font-size: @font-title;
		text-transform: uppercase;
		margin-top: 0;

		&:after{
			content: '';
			display: block;
			background-color: @text;
			margin-top: 15px;
			width: 40px;
			height: 5px;
		}
	}
	&__text{
		font-family: @montserrat-regular;
		font-size: @font-p;
	}
	&__btn-group{
		position: absolute;
		bottom: 30px;
	}
}

.gallery{
	position: relative;
	background-image: url(../../img/bg08.jpg);

	.tabs{
		width: 50%;
		position: absolute;
		bottom: 0;
		right: 0;

		@media (max-width: @screen-sm) {
			width: 100%;
		}
	}
}


.seminars{
	background-color: @yellow;
	text-align: center;

	&__pic{
		display: inline-block;
		background-image: url(../../img/icon-two-tools.png);
		border: none;
		outline: none;		
		color: transparent;
		background-color: transparent;
		width: 73px;
		height: 73px;	
		position: relative;
		margin-top: 50%;
		transform: translateY(-50%);
	}
	p{
		text-transform: uppercase;
		font-family: @literra-plain-bold;
		font-size: @font-small;		
		margin: -20px 50px 0;
	}	
}

.contact-us{
	background-color: @blue;
	color: #fff;
	position: relative;

	&__title{
		font-family: @literra-plain-bold;
		font-size: @font-title;
		text-transform: uppercase;
		margin-top: 0;

		&:after{
			content: '';
			display: block;
			background-color: #fff;
			margin-top: 15px;
			width: 40px;
			height: 5px;
		}
	}
	&__btn-group{
		position: absolute;
		bottom: 30px;
		right: 30px;
	}
	input[type="email"]{
		padding: 15px;
		width: 100%;
		color: @blue;
		// border: none;
	
		&::placeholder{
			color: @blue;			
		}
		&:focus::-webkit-input-placeholder{
			color: transparent;					
		}				
		&:focus::placeholder{
			color: transparent;					
		}
	}
}


.btn{
	display: block;
	text-transform: uppercase;
	color: #fff;
	font-family: @literra-plain-bold;
	font-size: @font-small;
	background-color: @text;
	padding: 15px 25px;
	border: none;
	outline: none;
	box-sizing: border-box;

	&--yellow{
		background-color: @yellow;
		color: @text;
	}
	&--submit{
		background-color: @blue;
		border: 2px solid #fff;
		padding: 13px 25px;
		// color: @text;
	}	
}



